@use 'sass:map';

$md-primary: (
  50: #e0e7ed,
  100: #b3c2d1,
  200: #8099b3,
  300: #4d7094,
  400: #26527d,
  500: #003366,
  600: #002e5e,
  700: #002753,
  800: #002049,
  900: #001438,
  A100: #6e93ff,
  A200: #3b6cff,
  A400: #0846ff,
  A700: #003bee,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-primary-dark: (
  50: #e8edf6,
  100: #c6d1e8,
  200: #a1b3d9,
  300: #7b95c9,
  400: #5e7ebe,
  500: #4267b2,
  600: #3c5fab,
  700: #3354a2,
  800: #2b4a99,
  900: #1d398a,
  A100: #c4d1ff,
  A200: #91aaff,
  A400: #5e82ff,
  A700: #456fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-warn: (
  50: #f9e3e4,
  100: #efb9bc,
  200: #e58b90,
  300: #da5d63,
  400: #d23a41,
  500: #ca1720,
  600: #c5141c,
  700: #bd1118,
  800: #b70d13,
  900: #ab070b,
  A100: #ffd6d7,
  A200: #ffa3a4,
  A400: #ff7072,
  A700: #ff5759,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-accent: (
  50: #e4f4ec,
  100: #bae3cf,
  200: #8dd1b0,
  300: #5fbe90,
  400: #3cb078,
  500: #1aa260,
  600: #179a58,
  700: #13904e,
  800: #0f8644,
  900: #087533,
  A100: #a5ffc4,
  A200: #72ffa2,
  A400: #3fff80,
  A700: #25ff6f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
